@page "/game/selection"
@layout Layout.GameLayout
@inject _1z10.Components.Services.GameService GameServiceRef


<PageTitle>Page Title</PageTitle>
@* <div class="m-5">@((MarkupString)GameServiceRef.TestSql())</div> *@
<div class="game__container">sadda</div>

