@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
            @Body
    </main>
</div>

<audio id="background-music" src="audio/theme.mp3" loop autoplay style="display:none;"></audio>
