.players {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-70%);
    display: flex;
    flex-direction: column;

    &-item {
        font-size: 2vw;
        display: flex;

        &-avatar {
            border-radius: 50%;
            margin-right: 10px;
        }

        &-name {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 10px;
        }

        &-fname {
            justify-content: left;
        }

        &-lname {
            justify-content: left;
        }

        &-lives {
            display: flex;
            align-items: center;
            margin-left: auto;
            position: relative;

            .heart {
                font-size: 4em;
                color: #7e0505;
                margin-right: 0.5vw;
            }

            .lives-count {
                position: absolute;
                left: 3vw;
                top: 3.5vw;
                font-size: 1.5em;
                color: white;
            }
        }

        &:nth-child(odd) {
            margin-left: 5vw;
        }

        &:nth-child(even) {
            margin-right: 5vw;
        }
    }
}

.logo {
}

.skip {
    position: absolute;
    bottom: 1vw;
    right: 1vw;

    &-btn {
        padding: 0.5vw 1vw;
        border-radius: 0.5vw;
        cursor: pointer;
    }
}