.counter {
  position: absolute;
  bottom: 1vw;
  left: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border: 5px double #0000FF; /* Color and thickness of the ring */
  border-radius: 50%; /* Makes the border circular */
  background-color: transparent; /* No background */
}
.counter__number {
  font-size: 48px; /* Size of the number */
  font-weight: bold;
  color: #FFFFFF; /* Color of the number */
}

.prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #0000FF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  text-align: center;
}
.prompt__header {
  background-color: #0000FF;
  color: #fff;
  padding: 10px;
}
.prompt__title {
  margin: 0;
  font-size: 24px;
}
.prompt__body {
  padding: 20px;
}
.prompt__text {
  font-size: 18px;
}
.prompt__winner-name {
  font-weight: bold;
  color: #e63946;
}
