.guidelines {
  background-color: #f4f4f4;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
}
.guidelines__title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}
.guidelines__subtitle {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}
.guidelines__text {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
  line-height: 1.5;
}
.guidelines__additional {
  font-size: 16px;
  color: #333;
}
