.game__container {
  background: linear-gradient(145deg, #1d2671, #c33764);
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.selection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
}
.selection__mode {
  width: 100%;
}
.selection__mode-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.selection__mode__options {
  display: flex;
  justify-content: center;
}
.selection__mode__option {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 1rem;
  padding: 2rem;
  width: 40%;
  transition: background-color 0.3s, transform 0.3s;
}
.selection__mode__option-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.selection__mode__option-description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.selection__mode__option:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transform: scale(1.05);
}
.selection__players {
  width: 100%;
}
.selection__players-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.selection__players-select {
  display: grid;
  place-content: space-evenly;
  place-items: center;
  gap: 2rem;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.selection__players-select > .range-slider,
.selection__players-select label[dir=rtl] .range-slider {
  width: clamp(300px, 50vw, 800px);
  min-width: 200px;
}
.selection__players__submits {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.selection__players-submit {
  width: 20%;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}
.selection__players-submit:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transform: scale(1.05);
}
