@page "/guidelines"

<div class="container">
    <div>
        Zasady i instrukcja
        @* TODO make localized guidelines *@

        <h1>
            Zasady gry
        </h1>
        <div>
            <div>
            Gra jest dla 3-10 uczestników. Dostępny jest tryb turniejowy (odpowiedzi są wpisywane) oraz moderowany (moderowane przez uczestników, wybieramy czy odpwiedź jest poprawna po odkryciu jej). (Aby wyniki zostały zapisane trzeba grać w tryb turniejowy w 10 osób) Każdy uczestnik zaczyna grę z trzema „szansami”. Prowadzący zadaje pytania z wiedzy ogólnej, na odpowiedź zawodnicy mają 30 sekund(kontrolowane przez graczy), błędna odpowiedź lub jej brak powoduje utratę jednej „szansy”. Program składa się z trzech etapów.
            </div>
            <div>
            Etap I
            </div>
            <div>
            Prowadzący zadaje kolejno pytania uczestnikow w trzech rundach. Wystarczy odpowiedzieć przynajmniej na jedno, aby grać dalej. Błędna odpowiedź powoduje utratę jednej „szansy”, jednak, jeśli uczestnik nie odpowie na żadne z trzech pytań, odpada z gry.
            (opcjonalne, można pominąć ten etap)
            </div>
            <div>
            Etap II
            </div>
            <div>
            Zadawanie pytań zaczyna się od pierwszego uczestnika (najczęściej jest to uczestnik na stanowisku numer 1, chyba że odpadł w etapie I). Pytania zadawane są  kolejnym uczestnikow, jeśli uczestnik poprawnie udzieli odpowiedzi, to wybiera następnego uczestnika, jeśli źle, to uczestnka wybiera poprzedni gracz, lub jeśli nie było, to moderator. W ten sposób gra się tak długo, aż pozostaną w grze trzej uczestnicy. Przechodzą oni do etapu III.
            </div>
            <div>
            Etap III (finał!)
            </div>
            <div>
            W tym etapie liczba zadanych pytań jest ograniczona do 60. Każdy uczestnik dostaje trzy nowe szanse. Ważną rolę odgrywają punkty, każdy uczestnik zaczyna z taką liczbą punktów, ile szans zachował z wcześniejszych etapów. Za każdą dobrą odpowiedź uczestnik dostaje 10 punktów. Do pierwszych pytań uczestnicy mogą się zgłaszać, (jeśli nikt się nie zgłosi do odpowiedzi, to nikt nie traci szansy) do momentu, gdy jeden z uczestników udzieli trzech poprawnych odpowiedzi i zdobędzie 30 punktów. Wyznacza on kolejnego uczestnika (może na siebie). Wraca tu reguła z etapu II z tym, że jeśli uczestnik wskaże do pytania sam siebie i odpowie, otrzyma podwojoną liczbę punktów, tj., 20. Jeśli odpowie źle, wtedy uczestnicy sami się zgłaszają do odpowiedzi i przejmują prawo wyznaczania. W wypadku pozostania jednego drużyny (punkt drugi poniżej), zasada podwajania punktów nie obowiązuje, gdyż do jego pytania nie wyznaczył siebie samego.
            </div>
        </div>
        <h1>
            Dodatkowe instrukcje
        </h1>
        <div>

        </div>
    </div>
</div>